.darkred{
    color: #7f0000;
    /*darkred*/
}

.lred{
    color: #b20000;
    /*lighterred*/
}

.blue{
    color: #3333ff;
    /*darkblue*/
}

h3
{
    display:inline;
}

h5
{
    display:inline;
}

h6
{
    display:inline;
}

.wy-nav-content{
    max-width: 80%;
}